.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height:100vh;
    min-width:100vw;
    justify-content: space-evenly;
    background-color: beige;
}
.rolling-dice{
    display: flex;
    gap: 100px;
    justify-content: center;
    
    
}
h1{
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    color: #174143
}
img{
    visibility: hidden;
}
h3{
    text-align: center;
      color: #174143;
      font-family: 'Courier New', Courier, monospace;
}
.play-bttn{
    padding:20px 40px;
    border-radius: 10px;
    
}
.play-bttn:hover{
    background-color:black;
    color:white;
}
.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
}